[Unit]
Description=All Port TCP responder
After=multi-user.target 

[Service] 
Type=simple 
Restart=always 
ExecStart=/usr/bin/tcpallportresponder 
SyslogIdentifier=tcpallportresponder 


[Install]
WantedBy=multi-user.target 
