[Unit]
Description=All Port TCP responder
After=multi-user.target 

[Service] 
Type=simple 
Restart=always 
ExecStart=/home/ubuntu/all_port_responder/tcp_responder.py 
StandardOutput=syslog 
StandardError=syslog
SyslogIdentifier=tcpallportresponder 


[Install]
WantedBy=multi-user.target 
